@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
  --color-light-bg: #ffffff;
  --color-light-text: #333333;
  --color-dark-bg: #13171d;
  --color-dark-text: #c9d1d9;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Gowun Dodum', sans-serif;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body.light {
  color-scheme: light;
  color: var(--color-light-text);
  background-color: var(--color-light-bg);
}

body.dark {
  color-scheme: dark;
  color: var(--color-dark-text);
  background-color: var(--color-dark-bg);
}
